.menu{
  height: 100vh;
}
.title{
  font-weight: bold;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 22px;
  height: 40px;
  flex: 1;
  line-height: 40px;
}
.asideTitle{
  height: 62px;
  line-height: 62px;
  font-size: 20px;
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
}
.fixedMenu{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 89;
}
.tinyMenu{
  animation-name: sortMenu;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes sortMenu {
  from{
    width: 240px;
  }
  to{
    width: 80px;
  }
}
